{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./src/styles"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    [ "inline-react-svg" ],
    [
      "transform-assets-import-to-string",
      {
        "baseDir": "public",
        "baseUri": "/"
      }
    ]
  ],
  "presets": [
    "next/babel"
  ],
  "ignore": []
}